In [2]:
import pandas as pd
import numpy as np

In [3]:
# creating initial dataframe
bridge_types = ('Arch','Beam','Truss','Cantilever','Tied Arch','Suspension','Cable')
bridge_df = pd.DataFrame(bridge_types, columns=['Bridge_Types'])

In [5]:
# creating instance of labelencoder
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [7]:
# Assigning numerical values and storing in another column

bridge_df['Bridge_Types_Cat'] = le.fit_transform(bridge_df['Bridge_Types'])
bridge_df

  Bridge_Types  Bridge_Types_Cat
0         Arch                 0
1         Beam                 1
2        Truss                 6
3   Cantilever                 3
4    Tied Arch                 5
5   Suspension                 4
6        Cable                 2

# One Hot Coding

In [17]:
data=['Male','Female','Female','Male','Male','Male','Female']
df = pd.DataFrame(data,columns=['Gender'])
df.head(5)

   Gender
0    Male
1  Female
2  Female
3    Male
4    Male

In [18]:
df= pd.get_dummies(df['Gender'])

In [19]:
df

   Female  Male
0       0     1
1       1     0
2       1     0
3       0     1
4       0     1
5       0     1
6       1     0