In [1]:
import pandas as pd
data = pd.read_csv('car1.csv')
data.head()

  buying  maint doors persons lug_boot safety outcome
0  vhigh  vhigh     2       2    small    low   unacc
1  vhigh  vhigh     2       2    small    med   unacc
2  vhigh  vhigh     2       2    small   high   unacc
3  vhigh  vhigh     2       2      med    low   unacc
4  vhigh  vhigh     2       2      med    med   unacc

In [2]:
data.shape

(1728, 7)

In [3]:
data['outcome'].value_counts()

unacc    1210
acc       384
good       69
vgood      65
Name: outcome, dtype: int64

In [4]:
X = data.iloc[:,:-1]
y = data.iloc[:,-1]
X.head()

  buying  maint doors persons lug_boot safety
0  vhigh  vhigh     2       2    small    low
1  vhigh  vhigh     2       2    small    med
2  vhigh  vhigh     2       2    small   high
3  vhigh  vhigh     2       2      med    low
4  vhigh  vhigh     2       2      med    med

In [5]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
X.loc[:,['buying','maint','lug_boot','safety']] = \
X.loc[:,['buying','maint','lug_boot','safety']].apply(enc.fit_transform)
X.head()

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

  buying maint doors persons lug_boot safety
0      3     3     2       2        2      1
1      3     3     2       2        2      2
2      3     3     2       2        2      0
3      3     3     2       2        1      1
4      3     3     2       2        1      2

In [6]:
data['doors'].value_counts()

5more    432
3        432
4        432
2        432
Name: doors, dtype: int64

In [7]:
data['doors'].replace('5more', 5, inplace = True)

data['doors'].value_counts()

3    432
4    432
2    432
5    432
Name: doors, dtype: int64

In [8]:
data['persons'].value_counts()

more    576
4       576
2       576
Name: persons, dtype: int64

In [9]:
data['persons'].replace('more', 5, inplace = True)

data['persons'].value_counts()

4    576
2    576
5    576
Name: persons, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split
X_train,X_test, y_train,y_test = \
train_test_split(X,y,test_size=0.3,random_state=10)

In [11]:
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier()
model.fit(X_train,y_train)
y_predict = model.predict(X_test)

In [12]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_predict))
pd.crosstab(y_test,y_predict)

0.928709055876686

col_0    acc  good  unacc  vgood
outcome
acc       89     2     11      0
good      10    10      1      0
unacc      5     0    366      0
vgood      5     2      1     17

In [21]:
17/25

0.68

In [22]:
366/371

0.9865229110512129

In [23]:
pip install --user imblearn

Collecting imblearn
  Using cached imblearn-0.0-py2.py3-none-any.whl (1.9 kB)
Collecting imbalanced-learn
  Using cached imbalanced_learn-0.7.0-py3-none-any.whl (167 kB)
Requirement already satisfied: scipy>=0.19.1 in c:\programdata\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.4.1)
Requirement already satisfied: scikit-learn>=0.23 in c:\programdata\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (0.23.1)
Requirement already satisfied: joblib>=0.11 in c:\programdata\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (0.14.1)
Requirement already satisfied: numpy>=1.13.3 in c:\programdata\anaconda3\lib\site-packages (from imbalanced-learn->imblearn) (1.18.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn>=0.23->imbalanced-learn->imblearn) (2.1.0)
Installing collected packages: imbalanced-learn, imblearn
Successfully installed imbalanced-learn-0.7.0 imblearn-0.0
Note: you may need to restart the kernel to use updated packages.

In [13]:
from imblearn.over_sampling import SMOTE
smote = SMOTE()

In [14]:
X_train_smote, y_train_smote = smote.fit_sample(X_train.astype('float'),y_train)

In [15]:
from collections import Counter
print("Before SMOTE :" , Counter(y_train))
print("After SMOTE :" , Counter(y_train_smote))

Before SMOTE : Counter({'unacc': 839, 'acc': 282, 'good': 48, 'vgood': 40})
After SMOTE : Counter({'acc': 839, 'unacc': 839, 'vgood': 839, 'good': 839})

In [16]:
model.fit(X_train_smote,y_train_smote)
y_predict = model.predict(X_test)
print(accuracy_score(y_test,y_predict))
pd.crosstab(y_test,y_predict)

0.9325626204238922

col_0    acc  good  unacc  vgood
outcome
acc       90     7      5      0
good       3    18      0      0
unacc     17     1    353      0
vgood      1     1      0     23

In [17]:
23/25

0.92

In [18]:
353/371

0.9514824797843666

In [19]:
18/21

0.8571428571428571

In [20]:
90/102

0.8823529411764706