Ans 1 :-

        A tuple is an immutable sequence of Python objects.

Ans 2:-

    
        The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples 
        use parentheses '()', whereas lists use square '[]' brackets.

Ans 3:-

In [14]:
range(1,12,1)

range(1, 12)

Ans 4:-

In [16]:
a=[10,20,30,40,50]
print("Length of list a is:-",len(a))
print("Maximum number:-",max(a))
print("Minimum number:-",min(a))

Length of list a is:- 5
Maximum number:- 50
Minimum number:- 10

Ans 5:-

In [22]:
x=(1,2,3,4,5,1,3,1)
x*2
print("New Tuple:-",x)
print("The count of 1 in tuple is:-",x.count(1))

New Tuple:- (1, 2, 3, 4, 5, 1, 3, 1)
The count of 1 in tuple is:- 3

Ans 6:-

In [23]:
color=["Red","Blue","Yellow","Voilet"]
print("First Color:-",color[0])
print("Last Color:-",color[-1])

First Color:- Red
Last Color:- Voilet

Ans 7:-

In [36]:
list = [1,4,7,'a','c',"rat","mat",4,6,4]
list.append(12)
list

[1, 4, 7, 'a', 'c', 'rat', 'mat', 4, 6, 4, 12]

In [37]:
list.remove("rat")
list

[1, 4, 7, 'a', 'c', 'mat', 4, 6, 4, 12]

Ans 8:-

In [42]:
l1=[2,3,'d',6]
l2=['red','b',78,96]
new=l1+l2 
print("concatination:-",new)  
print("List 1:-",l1*3)

concatination:- [2, 3, 'd', 6, 'red', 'b', 78, 96]
List 1:- [2, 3, 'd', 6, 2, 3, 'd', 6, 2, 3, 'd', 6]

Ans 9:-

In [44]:
fruits=('apple','banana','orange','pineapple','kiwi','grapes','orange','pears')
fruits[0:4]

('apple', 'banana', 'orange', 'pineapple')

Ans 10:-

In [65]:
r = range(10)
l = [*r]
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [67]:
my_tuple=tuple(l)
my_tuple

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

Ans 11:

In [124]:
tup="(8,'abcc',12,34,'pqr')"
tup=eval(tup)
print(tup)
print("length",len(tup))

(8, 'abcc', 12, 34, 'pqr')
length 5

Ans 12:

In [105]:
a=(1,6,7,94,86,12,38,7,78)
print("Tuple before sorting:",a)
print("Tuple after sorting:",sorted(a))

Tuple before sorting: (1, 6, 7, 94, 86, 12, 38, 7, 78)
Tuple after sorting: [1, 6, 7, 7, 12, 38, 78, 86, 94]

Ans 13:

In [110]:
color=["Red","Blue","Yellow","Voilet"]
color.insert(2,"Purple")
color

['Red', 'Blue', 'Purple', 'Yellow', 'Voilet']

Ans 14:

In [111]:
x= (50, 60, 70, 80, 90, (200,100))
x[-1]

(200, 100)

Ans 15:

In [116]:
L=[10,["abc",[1,'f','g',0.8],"pop","add"],300,65,"Sam"]
print("Nested List:",L)
T=("hi",(1,30.89,"first"),45,'as+if',("hey","pink",32,67),15.77,404,'b')
print("Nested Tuple:",T)

Nested List: [10, ['abc', [1, 'f', 'g', 0.8], 'pop', 'add'], 300, 65, 'Sam']
Nested Tuple: ('hi', (1, 30.89, 'first'), 45, 'as+if', ('hey', 'pink', 32, 67), 15.77, 404, 'b')